* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heading: rgb(255, 255, 255);
  --bgColor: rgb(15, 9, 24);
  --btnColor: rgb(208, 23, 184);
}

.firstsec {
  overflow: hidden;
  min-height: 100vh;
  background-image: linear-gradient(to right, rgb(7, 12, 7) 37%, rgb(33, 17, 64) 75%, rgb(132, 47, 136) 100%);
  color: white;
}

.header {
  width: 100%;
  border: 1px solid rgb(31, 31, 87);
  padding: 13px;
  border-radius: 50px;
  background-color: var(--bgColor);
  color: var(--heading);

}
.navbar-brand{
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}
.nav-item a:hover{
  border-bottom: 2px solid var(--btnColor);
  transition: all .4s ease-in-out;
}
nav button{
  background-color: rgb(41, 12, 64);
  padding: 11px 19px;
  color: var(--heading);
  border-radius: 50px;
  width: 140px;
  font-size: 17px;
  border: none;
}
nav button:hover{
  background-color: rgb(35, 7, 59);
  transition: all.5s ease;
}
.intro h2{
  color: rgba(255, 255, 255, 0.527);
  font-size: 33px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
} 
.intro h1{
  color: var(--heading);
  font-size: 67px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  letter-spacing: 4px;
}
.intro p{
  color: rgba(255, 255, 255, 0.527);
  font-size: 21px;
  border-left: 1px solid white;
  padding-left: 23px;
  width: 250px;
}
.intro-img .cross{
  position: absolute;
  font-size: 53px;
}
.intro-img{
  text-align: center;

}
.intro img{
  width: 97%;
  height: 520px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 50%;
  margin-top: 10px;
  background-image: linear-gradient(rgb(7, 12, 7) 37%, rgb(33, 17, 64) 75%, rgb(132, 47, 136) 100%);
}
.link-icon a{
  display: block;
  color: black;
  font-size: 37px;
  text-align: center;
}
.link-icon a:hover{
  color: rgba(0, 0, 0, 0.762);
}
.circle{
  display: flex;
  align-items: end;
  justify-content: end;
}
.circle .box{
  width: 140px;
  height: 140px;
  background-image: linear-gradient(to right, rgb(56, 71, 56) 7%, rgb(33, 17, 64) 100%, rgb(132, 47, 136) 19%);
  border-radius: 50%;
  opacity: .5;
} 
.about-img img{
  width: 100%;
  height: 450px;
  border-radius: 100%;
}
.about h1{
  font-size: 63px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  margin-left: -140px;
}
.about p{
  color: rgba(255, 255, 255, 0.527);
  font-size: 21px;
  border-right: 2px solid white;
  padding-right: 23px;
  text-align: justify;
}
.about button{
  background-color: var(--btnColor);
  padding: 11px 19px;
  color: var(--heading);
  border-radius: 50px;
  width: 140px;
  font-size: 17px;
  border: none;
}
.about button:hover{
  background-color: rgb(143, 13, 99);
  transition: all .5s ease;
}

/* Skill Section  */
.skill h1{
  font-size: 93px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  letter-spacing: 3px;
}
.dot-parent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0rem;
}
.line{
  height: 7px;
  width: 75%;
  border-radius: 50px;
  background-color: white;
}
.chil-line{
  height: 7px;
  width: 70%;
  border-radius: 50px;
  background-color: var(--btnColor);
}
#css{
  width: 82%;
}
.js{
  width: 64%;
}

/* Conact Section */
.curve-left{
  width: 100%;
  height: 440px;
  border-radius: 50%;
  background-color: rgb(55, 18, 93);
  opacity: .1;
  margin-left: -15rem;
}
.curve-right{
  width: 60%;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(61, 14, 109);
  opacity: .3;
  margin-top: -3rem;
  margin-left: 18rem;
}
.contact h1{
  text-align: center;
  font-size: 120px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  letter-spacing: 7px;
}
.contact label{
  display: block;
  font-size: 18px;
  margin: 0px 1.5rem;
  color: rgba(255, 255, 255, 0.798);
}
.contact input{
  margin: 3px 0px 19px 0px;
  display: block;
  outline: none;
  padding: 11px 32px;
  width: 100%;
  border-radius: 40px;
  border: none;
  background-image: linear-gradient(to left, rgb(72, 19, 44) 20%, rgb(63, 36, 86));
}
.contact textarea{
  margin: 2rem 0px;
  display: block;
  outline: none;
  padding: 13px;
  width: 100%;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(to left, rgb(72, 19, 44) 20%, rgb(63, 36, 86));
  height: 180px;
  color: rgba(255, 255, 255, 0.832);
}
.contact button{
  width: 160px;
  border: none;
  padding: 8px 12px;
  background-color: var(--btnColor);
  border-radius: 40px;
  margin: 0px 8rem;
  color: white;
  font-size: 19px;
}

/* Footer Section  */


.footer .col-lg-2 .box{
  width: 90%;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(61, 14, 109);
  opacity: .1;
  margin-top: 9rem;
  margin-left: 3rem;
}
.f-content h1{
  font-size: 83px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  letter-spacing: 6px;
}
.footer-dot{
  display: flex;
}
.dot{
  width: 15px;
  height: 15px;
  background-color: var(--btnColor);
  border-radius: 50%;
  margin: 27px 5px;
}
#dot3, #dot4{
  background-color: rgb(202, 42, 181);
}
#dot5, #dot6, #dot7{
  background-color: rgb(203, 71, 185);
}
#dot8, #dot9, #dot10, #dot11{
  background-color: rgb(174, 70, 160);
}
#dot12, #dot13, #dot14{
  background-color: rgb(166, 80, 154);
}
#dot15, #dot16, #dot17{
  background-color: rgb(161, 96, 152);
}
.footer-link i a{
  margin: 1.3rem;
  padding: 6px 12px;
  text-align: center;
  font-size: 33px;
  color: rgba(255, 255, 255, 0.754);
  border-radius: 50%;
  background-color: var(--btnColor);
  transition: all .2s ease-in-out;
}
.footer-link i a:hover{
  color: rgba(255, 255, 255, 0.41);
  background-color: rgb(171, 88, 160);
  transition: all .2s ease-in-out;
}
.footer-link {
  margin: 1.3rem 0rem;
}

.footer hr{
  border: 1px solid var(--btnColor);
}
.footer-nav{
  margin: 3rem 0rem 0rem 0rem;
  display: flex;
  justify-content: space-between;
}
.footer-nav ul li{
  display: inline-block;
  list-style: none;
}
.footer-nav a{
  color: white;
  text-decoration: none;
  font-size: 19px;
  padding: 0rem 1.3rem;
}
.footer-nav ul li a:hover{
  color: rgba(255, 255, 255, 0.543);
}